.font-family {
    font-weight: 600;
    font-family: sans-serif;
}

.w-20{
       width: 60%;
}

.m-l-42{
margin-left: 42px;
}

::ng-deep .status-paid {
  color: green !important;
  font-weight: 600;
}

::ng-deep .status-unpaid {
  color: red !important;
  font-weight: 600;
}

::ng-deep .status-pending {
  color: #ffc300 !important;
  font-weight: 600;
}
.text-danger,.error-message{
      color: red;
}

.payment{
      font-weight: 900;
    font-family: 'Plus Jakarta Sans';
    font-style: initial;
}

.in-width{
      width: 170px;
    margin-right: 10px;
}

.input-width{
      width: 105px;
    margin-right: 10px;
}

.input-width-warranty{
      width: 100px;
    margin-right: 10px;
}

.add-width{
  width: 50px;
}

.payment-width{
      width: 260px;
    margin-right: 10px;
}
.paymenttype-width{
      width: 190px;
      margin-right: 10px;
       display: flex;
      align-items: center;
}
.bank-width{
  margin-right: 10px;
}

@media (max-width: 750px) {
.discount-align,.total-align{
  display: flex;
  align-items: baseline;
}
}