  .status-paid {
    color: green;
    font-weight: 600;
  }

  .status-unpaid {
    color: red;
    font-weight: 600;
  }

  .status-pending {
    color: #ffc300;
    font-weight: 600;
  }

  .income-color {
    color: green;
    font-weight: 600;
  }

  .expense-color {
    color: red;
    font-weight: 600;
  }