<h2 mat-dialog-title class=""> Sale Details</h2>
<mat-dialog-content class="mat-typography" style="max-width: 900px">
    <mat-card class="cardWithShadow">
      <mat-card-content class="p-24">
        <div class="table-responsive">
          <table mat-table  [dataSource]="shellDetailsDataSource" class="w-100">
           
            <ng-container matColumnDef="srno">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Sr No.</th>
              <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
            </ng-container>
    
            <ng-container matColumnDef="companyName">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
                Company Name
              </th>
              <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ getcompanyname(element.productsName)}} <br>
                ({{ getcategory(element.productsName)}} - {{ getsubcategory(element.productsName)}})
              </td>
            </ng-container>
    
    
            <ng-container matColumnDef="qty">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
               Qty
              </th>
              <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ element.qty }}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="prouctPrice">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Prouct Price
              </th>
              <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ element.productPrice }}
              </td>
            </ng-container>

            <ng-container matColumnDef="discount">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
             Discount %
              </th>
              <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ element.discount }}
              </td>
            </ng-container>
    
            <ng-container matColumnDef="finalTotal">
              <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Final Total
              </th>
              <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ element.subTotal }}
              </td>
            </ng-container>
    
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            <tr class="mat-row" style="text-align: center;" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                No record found
              </td>
            </tr>
          </table>
          
        </div>
      </mat-card-content>
    </mat-card>
      <div class="d-flex align-items-center justify-content-end ">
    <button mat-stroked-button color="warn" class="m-r-10 " mat-dialog-close>Close</button>
</div>
</mat-dialog-content>