  .status-Completed {
      color: green;
      font-weight: 600;
  }

  .status-Pending {
      color: red;
      font-weight: 600;
  }

  .status-inProgress {
      color: #ffc300;
      font-weight: 600;
  }