::ng-deep .status-paid {
  color: green !important;
  font-weight: 600;
}

::ng-deep .status-unpaid {
  color: red !important;
  font-weight: 600;
}

::ng-deep .status-pending {
  color: #ffc300 !important;
  font-weight: 600;
}

.text-danger{
      color: red;
}

.payment{
      font-weight: 900;
    font-family: 'Plus Jakarta Sans';
    font-style: initial;
}