.in-width{
      width: 150px;
    margin-right: 10px;
}

.in-widths{
      width: 160px;
    margin-right: 10px;
}

.input-width-warranty{
      width: 100px;
    margin-right: 10px;
}

.add-width{
  width: 50px;
}

.search{
 border: 1px solid; 
  font-size: 14px;
}

.input-width{
      width: 105px;
    margin-right: 10px;
}